# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Credentials files
service-credentials.json

# Uploads folder (keeping temporary uploads folder)
uploads/*
!uploads/*/
uploads/tmp/*
!uploads/tmp/.gitkeep

# Local SQLite DB file
*.db

# Output files generated in app
app/output/*
!app/output/.gitkeep

# Terraform files
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraformrc
terraform.d/plugins/
*.tfvars
!auto.tfvars
.tfstate.d/
.terraform-version
.terraform/environment/
.terraform.tfvars
.terraform/providers/
